<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<h1>Todos</h1>

<%= form_with url: todos_path, method: :get do |form| %>
  <div>
    <%= form.label :category, "Filter by category", style: "display: block" %>
    <%= form.select :category, options_for_select([ [ "All", "" ] ] + Todo::CATEGORIES.map { |category| [category.titleize, category] }, @selected_category) %>
    <%= form.submit "Filter" %>
  </div>
<% end %>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this todo", todo %>
    </p>
  <% end %>
</div>

<%= link_to "New todo", new_todo_path %>
